body{
    background-color: #FFF4d7;
}

.fundo{
    background-image: url('imagem/patinha.jpg');
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.topo-imagem{
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 400px;
    position: relative;
    color: white;
}

.banner-texto{
    text-align: left;
    color: white;
    margin-top: 60px;
}

.banner-texto h1{
    font-size: 6rem;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

.banner-texto p{
    font-size: 3rem;
    margin-top: 5px;
    text-shadow: 3px 1px 1px rgba(0,0,0,0.8);
}

.fundo h1{
    font-size: 8rem;
    line-height: 1;
    letter-spacing: 2px;
    color: #fff;
    font-family:'Segoe UI', sans-serif;
    margin: 0;
    text-shadow: 6px 4px 1px rgba(0,0,0,0.8);
}

.fundo.esquerda{
    justify-content: flex-start;
    padding-left: 50px;
    text-align: left;
}

.menu{
    background-color: #111;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.menu ul{
    list-style: none; 
    display: flex;
    justify-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.menu a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    padding: 12px 0px;
    transition: background 0.3s, color 0.3s;
    border-radius: 5px;
}

.menu a:hover{
    background-color: #ffffff;
    color: #000;
}

.menu li{
        flex: 1;
        text-align: center;
}

.animal-card{
    width: 300px;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    margin: 30px auto;
}

.animal-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.animal-card h3{
    margin-top: 15px;
    margin-bottom: 10px;
}

.botao-interesse{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #111;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.botao-interesse:hover{
    background-color: #333;
}

.animais-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main{
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: 'Segoe UI', sans-serif;
    color: #222;
    flex: 2;
}

main h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #111;
}

main p{
    font-size: 1.2em;
    line-height: 1.8;
}

.conteudo{
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

aside{
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', sans-serif;
}

aside h3{
    margin-top: 0; 
    font-size: 1em;
    color: #222;
    border-bottom: 2px solid #4444;
    padding-bottom: 5px;   
}

aside ul{
    list-style-type: square;
    padding-left: 20px;
    line-height: 1.6;
    font-size: 1em;
    color: #333;
}
 
.blocoFlex {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.blocoFlex .texto {
  margin-top: -10px;  
  flex: 1;
  text-align: justify;
}

.blocoFlex .imagem {
  flex: 1;
  height: 300px;
  max-width: 400px;
}

.blocoFlex img {
  width: 100%;
  height: 100%;  
  object-fit: cover;
}

.blocoContato{
    display: flex;
    gap: 40px;
    align-items: stretch;
}

.blocoContato .imagem{
    flex: 1;
    max-width: 400px;
}

.blocoContato .imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blocoContato .texto h2{
    margin-top: 0;
}

.blocoContato .texto{
    flex: 1;
}

.card-link{
    margin: 40px 0;
}

.card-link a{
    display: block;
    background-color: #f4f4f4;
    padding: 25px;
    border-radius: 10px;
    text-decoration: none;
    color: #222;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card-link a:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card-link h2{
    margin-top: 0;
}

.card-link p{
    margin-bottom: 0;
}

footer{
    background-color: #fff3b0;
    color: rgb(5, 0, 0);
    text-align: center;
    padding: 20px 10px;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 40px;
    border-top: 3px solid #333;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);

}

.formulario-interesse{
    max-width: 500px;
    margin: 20px auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.formulario-interesse label{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.formulario-interesse input,
.formulario-interesse textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.formulario-interesse textarea{
    resize: vertical;
}

.formulario-interesse button{
    background-color: #111;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.formulario-interesse button:hover{
    background-color: #333;
}

.cabecalho-formulario{
    text-align: center;
    margin-bottom: 30px;
}

#mensagem-sucesso{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: green;
}

@media (max-width: 768px){
    

    .fundo h1{
        font-size: 4rem;
    }

    .banner-texto p{
        font-size: 1.5rem;
    }

}




/* {
    outline: 1px solid red;
}*/